/*-- scss:defaults --*/
$primary: #020202;
$secondary: #eceff1;

$navbar-fg: $primary;
$light-bg: $secondary;
$link-color: $secondary; 

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Londrina+Sketch&family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Londrina+Sketch&family=Love+Ya+Like+A+Sister&family=Rubik+Gemstones&display=swap');

// $font-family: "Love Ya Like A Sister", cursive;

/*-- scss:rules --*/

p {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
  }
  

html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background: #222; */
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;

}


.text {
    top: 30%;
    left: 1000px;
    position: absolute;
    font-family: "Londrina Sketch", sans-serif;
    font-size: 15vw;
    color: $secondary;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    transform: scale(1,1.1) translate(-50%,10%);
}


// .top-text {
//     font-weight: 500;
//     font-size: 4em;
//     line-height: 1.15;
//     letter-spacing: -0.03;
//     margin-bottom: 24px;
//   }
  
  .top-text {
    top: 25%;
    left: 400px;
    position: absolute;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 2.0rem;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: $primary;
  }
  

.section1, .section2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.section1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/g8.png) top center;
    background-size: cover;
    transform: translateZ(-2px) scale(3.2);
    /* filter: blur(2px); */
}

.section1::after {
    content: "";
    width: 100%;
    height: 100%;
    margin-top: 320px;
    position: absolute;
    background: url(images/treeline.png) bottom center;
    background-size: cover;
    /* transform: translateZ(-1px) scale(2.2);
    filter: blur(2px); */
}

.section1 .text {
    top: 10%;
    transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%,10%);
}

.section2 {
    background: rgb(68, 35, 19);
}


.navbar-container {
    width: 90%;
    height: 100px;
    font-size: large;
  }
  
  .navbar-brand {
      font-family: 'Hanken Grotesk';
      font-weight: 900;
      font-size: 30px;
      color: $secondary;
  }
  
  .navbar-logo {
    max-height: 60px;
    width: auto;
    padding-right: 4px;
  }

  .nav-link {
    color: $secondary;
  }
  
  
  #cr-click {
    margin-right: 100px;
  }
  
    #cr-choices {
    margin-right: 100px;
  }
  
  #cr-magnify  {
    margin-right: 100px;
    border-radius: 100px;
  }
  
  #bigfoots-map { 
    border-radius: 15px; 
  }
  
    #cr-filter {
    margin-right: 100px;
  }

  #popup-title {

    text-align:center;
    background-color:#144361;
    color:white;
    border-color:black;
    border-radius:15px;
    border-width:5px;
    padding:7.5px;
    border-style:solid;
  
  
  }
  
  
  #first-popbox {
  
    background-color:#6298BC;
    border-radius:15px;
    padding:7.5px;
    margin-top:0;
  
  }
  
  #second-popbox {
  
    background-color:#D9EAF7;
    border-radius:15px;
    padding:7.5px;
    margin-top:10px;
  
  }
  
  #popbox-report-text{
  
    text-align:center;
    display:inline;
    left:50%;
    right:50%;
    width:100%;
  
  }